﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Course Demo Site</h1>
    <p>We wil be adding addiitonal UI and data access functionility today</p>
</div>
